body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
}

div {
  width: 900px;
  height: 777px;
  background-color: #333;
  text-align: center;
  padding: 20px;
}
